<div id="header" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="assets/img/almundo.png" alt="Logo almundo.com" class="img-responsive">
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end container-fluid -->
