<app-header></app-header>

    <div class="container">

      <!-- en vez de usar el ngIF usa router-outlet y la ruta que entre se muestra ese componente -->
      <router-outlet></router-outlet>

    </div>
