@font-face {
  font-family: 'FontAwesome';
  src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.woff') format('woff');
}

html, body {
/* no da bola, en assets esta declarado styles.css desde ahi dar las propiedades de esto */
}

hr {
  border-top: 2px solid #eee;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#header {
  background-color: #0d3f7d;
  margin-bottom: 20px;
}

#header .row div {
  padding: 20px 0;

}

/*
#home .row:nth-of-type(1) {
  padding: 60px 0 100px;
}

#search .row:nth-of-type(1) {
  padding: 40px 0 60px;
}

#home div:nth-of-type(1) img {
  width: 90%;
}

#home .row div:nth-of-type(2), #search .row:nth-of-type(1) div:nth-of-type(2) {
   background-color: red;
  height: 100px;
  line-height: 108px;
}
*/
 .titulo {
  font-size: 1.5em;
  font-weight: 700;
  color: #0579b4;
  margin: 0;
} 

.sidebar {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 1px;
}

.sidebar p:nth-last-of-type(1)  {
  font-weight: 700;
  font-size: 1.8em;
  padding-top: 10px;
}

.sidebar .mob {
  display: none;
}

.toggleSidebar {
  cursor: pointer;
  margin: 10px 0;
}

.toggleSidebar span {
  color: #0579b4;
  font-weight: 700;
}

.arrowUp, .arrowDown {
  position: relative;
}

.arrowUp::after, .arrowDown::after {
  content: '\25b2';
  font-size: 1em;
  color: #0579b4;
  position: absolute;
  right: 0;
}

.arrowDown::after {
  content: '\25bc';
}

form > hr {
  margin: 10px 0;
}

form input.texto {
  margin-left: 10px;
  width: 70%;
  padding-left: 5px;
}

button[type="submit"] {
  background-color: #002979;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  width: 24%;
  height: 26px;
}

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
  -o-appearance: checkbox;      /* not currently supported */
  vertical-align: middle;
  position: relative;
  bottom: 6px;
  margin-right: 5px;
}

.star, .amenities {
  fill: #ffbb00;
  width: 1.2em !important;
  display: inline-block;
}

.azul {
  fill: #0579b4 !important;
  position: relative;
  bottom: -2px;
}

.space {
  margin-top: 7px;
}

.amenities {
  vertical-align: middle;
}

.texto:focus {
  outline: 0 none;
}

#search .row:nth-of-type(2) {
  padding: 5px 0;
}

.data h3 {
  margin: 0;
}

.data p {
  font-size: 1.2em;
}

.ultimo {
  border-left: 1px dashed darkgray;
  position: absolute;
  top:7px;
  right: 0;
  height:92%;
  display : flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.ultimo p, .ultimo span {
  margin: 0;
  margin-bottom: 5px;
}

.ultimo span {
  display: inline-block;
  vertical-align: middle;
}

.ultimo span:nth-of-type(1) {
  color: #df6800;
  font-size: 1.3em;
}

.ultimo span:nth-of-type(2) {
  color: #df6800;
  font-size: 1.8em;
}

.ultimo button {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

/* .pagination {
    display: inline-block;
}

.pagination a {
    color: #4c9ed9;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 2.3em;
}

.pagination a.active {
    background-color: #4c9ed9;
    color: white;
} */

.pagination a:hover:not(.active) {background-color: #ddd;}

/* MEDIA QUERIES */

@media screen and (max-width: 1199px) {
  .titulo {
    font-size: 2.93em;
  }

  .resultados {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .ultimo {
    position: static;
    border-left: 0;
    border-top: 1px dashed darkgray;
    margin: 20px 0 20px 2.5%;
    width: 95%;
    height: 100%;
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  #logo {
    display: none;
  }
}



@media screen and (max-width: 414px) {
  #header {
    margin: 0;
  }

  .filtroDesktop {
    display: none;
  }

  .sidebar .mob {
    display: block;
  }

  .mob p {
    text-align: center;
  }

  .mob.arrowUp::after, .mob.arrowDown::after {
    right: 34%;
    bottom: 1px;
    font-size: 1.5em;
  }

  .titulo {
    font-size: 1.5em;
  }

  .resultados .row div:nth-of-type(1), .resultados .row div:nth-of-type(2) {
    width: 100%;
  }

  .resultados .row div:nth-of-type(1) {
    margin-bottom: 10px;
  }
  
  .resultados .img-responsive {
    width: 100%;
  }

  .ultimo div {
    text-align: center;
  }

  .ultimo button {
    width: 100%;
    font-size: 1.7em;
  }
}


