      <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-3 sidebar">
          <p class="filtroDesktop">Filtros</p>
          <div class="toggleSidebar mob" (click)="toggleShowDiv('divM')" [ngClass]="{arrowUp: animationStateM === 'in', arrowDown: animationStateM === 'out'}">
            <p>Filtrar</p>
          </div>
          <hr>

          <div [@slideInOut]="animationStateM">
            <form>
              <div class="toggleSidebar" (click)="toggleShowDiv('divA')" [ngClass]="{arrowUp: animationStateA === 'in', arrowDown: animationStateA === 'out'}">
                <div class="star azul" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/search.svg'"></div>
                <span>Nombre</span>
              </div>
              <div [@slideInOut]="animationStateA">
                <input type="text" class="texto" name="texto" placeholder="Ingrese el nombre del hotel" #keyInput>
                <button type="submit" (click)="onSubmit()">Aceptar</button>
              </div>

              <hr>

              <div class="toggleSidebar" (click)="toggleShowDiv('divB')" [ngClass]="{arrowUp: animationStateB === 'in', arrowDown: animationStateB === 'out'}">
                <div class="star azul" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/star.svg'"></div>
                <span>Estrellas</span>
              </div>
              <div [@slideInOut]="animationStateB">
                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios6" value="" checked (click)="selectStars(all.value)" #all>
                          <span>Todas las estrellas</span>
                        </label>
                      </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios5" value="5" (click)="selectStars(cinco.value)" #cinco>
                        <span *ngFor="let star of countStars(5)">
                          <div class="star" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/star.svg'"></div>
                        </span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="4" (click)="selectStars(cuatro.value)" #cuatro>
                        <span *ngFor="let star of countStars(4)">
                            <div class="star" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/star.svg'"></div>
                          </span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="3" (click)="selectStars(tres.value)" #tres>
                        <span *ngFor="let star of countStars(3)">
                            <div class="star" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/star.svg'"></div>
                          </span>
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="2" (click)="selectStars(dos.value)" #dos>
                        <span *ngFor="let star of countStars(2)">
                            <div class="star" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/star.svg'"></div>
                          </span>
                        </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="1" (click)="selectStars(uno.value)" #uno>
                        <div class="star" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/star.svg'"></div>
                      </label>
                    </div>
                  </fieldset>
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-12 col-lg-9">
          <div class="row">
            <div class="col-lg-12">
              <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '14px', primaryColour: '#546cff', secondaryColour: '#546cff', tertiaryColour: '#546cff' }"></ngx-loading>
            </div>
          </div>

          <div class="row" #resultados>
            <div class="col-lg-12 resultados">
              <div class="list-group" *ngFor="let contact of data.data">
                <a class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="col-xs-3 col-md-4">
                      <img [src]="'assets/img/images/hotels/' + contact.image" alt="{{ contact.name }}" style="width: 100%; margin: auto; " class="img-responsive">
                    </div>

                    <div class="col-xs-9 col-md-5 datos">
                      <p class="titulo">{{ contact.name }}</p>
                      <span *ngFor="let star of countStars(contact.stars)">
                        <div class="star" aria-label="estrella" [inlineSVG]="'assets/img/icons/filters/star.svg'"></div>
                      </span>
                      <div class="space"></div>
                      <span *ngFor="let amenitie of contact.amenities">
                        <div class="amenities" aria-label="estrella" [inlineSVG]="'assets/img/icons/amenities/' + amenitie.name + '.svg'"></div>
                      </span>
                    </div>

                    <div class="col-xs-12 col-md-3 ultimo ">
                      <p>Precio por noche por habitación</p>
                      <div><span>ARS </span><span>{{ contact.price }}</span></div>
                      <button type="submit">Ver hotel</button>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="noResponse">
            <div class="col-sm-12">
              <h4>No se ha encontrado hoteles con los filtros actuales</h4>
            </div>
          </div>
        </div>
      </div>
